# testing log files
out.txt
testPeep.txt

# Python build files
*.pyc

# VScode
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb

# Vim swap files
*.swp
*.swo
*.psd

# Evo result files
results/
