# testing log files
out.txt
testPeep.txt
tmp/

#stable baselines test files
multienv.py
multienvLR1.py
multienvLR2.py
multienvLR3.py
sb-a2c cnn.py
sb-a2c copy.py
tmp.py

# Python build files
*.pyc

# VScode
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb

# Vim swap files
*.swp
*.swo
*.psd
